
@font-face {
    font-family: 'Afternoon in Stereo';
    src: url('https://cdn.jsdelivr.net/GDuran36/startsayingmore/blob/master/font/Afternoon in Stereo Personal Use.ttf') format('truetype'),
    font-weight: 100;
    font-style: normal;
}
